/*reset*/
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
/*containers*/
.container{
    max-width: 1260px;
    width: 100%;
    margin: 0 auto;

}
/*geral*/
body,input,textarea{
    font-family: 'Roboto Mono', monospace;
}
html{
    scroll-padding-top: 100px;
}

/*header*/
header{
    padding: 16px 0px;
    background-color:rgb(9, 94, 128) ;
    color: white;
    font-family: 'Orbitron', sans-serif;
    position: sticky;
    top: 0;
    width: 100%;
}
header h1{
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: -4px;
}
header p{
    color: rgb(204, 206, 224);
    font-size: 15px;
    padding-left: 134px;
}
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul{
    display: flex;
}
header nav li{
    list-style: none;
    margin-left: 16px;
    font-size: 20px;
}
header nav li a{
    color: white;
    text-decoration: none;
}
header nav li a:hover{
    color:rgb(204, 206, 224);
}
/*main*/
section .container, section .contactContainer , .articles{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

section{
    padding: 24px 0px;
}
section h2{
    color: white;
    background-image: url(./images/bg.png);
    background-repeat: no-repeat ;
    background-size: 1270px 40px;
    padding: 5px 5px 10px 10px;
    margin-bottom: 16px;
    font-family: 'Orbitron', sans-serif;
}
#contactBg
{
    flex: 1;
}
#contactBg h2
{
    background-size: 95% 40px ;
}
section h3{
    font-family: 'Orbitron', sans-serif;
    margin-bottom: 16px;
    font-weight: normal;
}
section p {
    margin-bottom: 8px;
    color:rgb(48, 53, 58) ;
}
.storefront{
    height: 250px;
    margin-right: 32px;
    border-radius: 5%;
}
.brands-list img{
    height: 50px;
}
.brands-list li{
    display: inline;
    margin-right: 7px;
    float: right;
}
.social-links img{
    height: 24px;
}
.social-links li{
    display: inline;
    margin-right: 8px;
}
.social-links li a{
    text-decoration: none;
} 
#contact .container {
    display: block;

}
.contact-methods {
    display: flex;
    justify-content: space-between;
}
form input,form textarea,form button{
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}
form button{
    background-color:rgb(9, 94, 128) ;
    color: #fff;
    font-family: 'Orbitron', sans-serif;
    border: none;
    cursor: pointer;
}
form button:hover{
    background-color:rgb(69, 145, 175) ;
}

form textarea{
    resize:none;
    height: 180px;
}

input:focus , textarea:focus{
    outline-color: rgb(9, 94, 128) ;
}

#products a{
    text-decoration: none;
    color: rgb(9, 94, 128) ;
}
#products a:hover{
    text-decoration:underline;
    color: rgb(19, 63, 80) ;
}
#products article img{
    height: 200px;
}
#products a:hover img{
    opacity: 70%;
}
.productsContainer{
    width: 100%;
}
/*footer*/
footer{
    background-color:black ;
    color: #fff;
    padding: 16px 0px;
}
